#container {
  width: 100%;
  margin-top: 30px;
  padding: 0px;
  
  text-align: center;
}

.row {
    display: block;
    padding: 0px;
    
    width: 100%;
}

/******************************
* The Navbar
******************************/
.navbar {
    height:30px;
    
    position:fixed;
    top:0;
    left:0;
    
    width:100%;
    color: red;
    background-color: black;
    
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.navbar a, a:visited, a:active{
    line-height:30px;
    
    color: red;
    
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}


/******************************
* The Structure
******************************/

.box12 {
  width: 100%;
  display: inline-block;
}

.box11 {
  width: 91.48936170212765%;
}

.box10 {
  width: 82.97872340425532%;
}

.box9 {
  width: 74.46808510638297%;
  display: inline-block;
}

.box8 {
  width: 65.95744680851064%;
}

.box7 {
  width: 57.44680851063829%;
}

.box6 {
  width: 48.93617021276595%;
}

.box5 {
  width: 40.42553191489362%;
}

.box4 {
  width: 31.914893617021278%;
}

.box3 {
  width: 23.404255319148934%;
  display: inline-block;
}

.box2 {
  width: 14.893617021276595%;
}

.box1 {
  width: 6.382978723404255%;
}
