.login-box {
	width: 250px;

	margin: auto;
	margin-top: 200px;
	background: #fff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
	background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
	background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
	background: -o-linear-gradient(top,#fff 0,#ddd 100%);
	background: linear-gradient(top,#fff 0,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #ccc;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

.login-box input {
	margin-top: 15px;
	padding: 10px;
	height: 30px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
	-moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
	box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;

	display: inline-block;
	width: 210px;
	outline: 0;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login-box .submit {
	width: 210px;
	color: #fff;

	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	text-align: bold;
	font-family: Arial;

	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#33bcef),to(#019ad2));
	background-image: -moz-linear-gradient(#33bcef,#019ad2);
	background-image: -ms-linear-gradient(#33bcef,#019ad2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33bcef),color-stop(100%,#019ad2));
	background-image: -webkit-linear-gradient(#33bcef,#019ad2);
	background-image: -o-linear-gradient(#33bcef,#019ad2);
	background-image: linear-gradient(#33bcef,#019ad2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border-color: #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.login-box button {
font-family: Arial,sans-serif;
}